@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter);
}

@layer utilities {
  .flexc {
    @apply flex flex-row justify-center items-center;
  }
  .flexcc {
    @apply flex flex-col justify-center items-center;
  }
  .transall {
    @apply transition-all ease-in-out duration-150;
  }
  .transcenter {
    @apply fixed top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%];
  }
  .atranscenter {
    @apply absolute top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%];
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
